.container {
    display: flex;

    .content {
        display: flex;
        flex-direction: column;
        padding: 20px;
        flex: 1;

        h3 {
            display: block;
            text-align: center;
        }
    }

}

.loader {
    margin-top: 48px;
}