<app-header></app-header>
<main class="container" *ngIf="isInitialized$ | async as isInitialized; else loader">
    <ng-container *ngIf="settings$ | async as settings">
        <app-sidebar></app-sidebar>

        <div class="content">
            {{ settings | json }}
            <!-- <app-quiz *ngIf="isInitialized" [settings]="quizSettings"></app-quiz> -->
        </div>

        <app-sidebar-right [settings]="settings"></app-sidebar-right>
    </ng-container>
</main>

<ng-template #loader>
    <div class="loader">
        <app-spinner></app-spinner>
    </div>
</ng-template>
