<div class="sidebar-right">
    <h3>Settings</h3>
    <form (ngSubmit)="applySettings()">
        <div>
            <label>Name</label>
            <input type="text" [(ngModel)]="updSettings.playerName" name="playerName" required />
        </div>
        <div>
            <label>Difficulty level</label>
            <select [(ngModel)]="updSettings.difficulty" name="difficulty">
                <option value="easy">Easy</option>
                <option value="medium">Medium</option>
                <option value="hard">Hard</option>
            </select>
        </div>
        <div>
            <label>Type</label>
            <select [(ngModel)]="updSettings.type" name="type">
                <option value="">-</option>
                <option value="multiple">Multiple Choice</option>
                <option value="boolean">True / False</option>
            </select>
        </div>
        <div *ngIf="categories$ | async as categories">
            <label>Category</label>
            <select [(ngModel)]="updSettings.category" name="category">
                <option value="">-</option>
                <option *ngFor="let category of categories" [value]="category.id">{{ category.name }}</option>
            </select>
        </div>
        <button type="submit">Submit</button>
    </form>
</div>
