<div class="quiz-container" *ngIf="!quizStarted">
    <button (click)="startQuiz()">Start Quiz!</button>
</div>
<div *ngIf="quizStarted">
    <ng-container *ngIf="quiz$ | async as quiz">
        <app-result-timer [score]="quiz.score" [timeLeft]="timeLeft"></app-result-timer>

        <p>#{{ quizProcess.currentIndex }}</p>
        <app-question
            *ngIf="quiz.currentQuestion"
            [question]="quiz.currentQuestion"
            (answerSelected)="submitAnswer(quiz, $event)"
        >
        </app-question>
    </ng-container>
</div>
<div *ngIf="quizEnded && !quizStarted">
    <p class="strong">Quiz Ended! Final Score: {{ finalScore }}</p>
</div>
