<div class="sidebar">
    <div class="winners" *ngIf="winners$ | async as winners">
        <div class="easy">
            <h4>TOP-5 easy level</h4>
            <app-winners-table [winners]="winners['winners_easy']"></app-winners-table>
        </div>
        <div class="medium">
            <h4>TOP-5 medium level</h4>
            <app-winners-table [winners]="winners['winners_medium']"></app-winners-table>
        </div>
        <div class="hard">
            <h4>TOP-5 hard level</h4>
            <app-winners-table [winners]="winners['winners_hard']"></app-winners-table>
        </div>
    </div>
</div>
