<div class="sidebar">
    <h3>Настройки</h3>
    <!-- <form (ngSubmit)="applySettings()">
        <div>
            <label>Имя игрока</label>
            <input type="text" [(ngModel)]="settings.playerName" name="playerName" required />
        </div>
        <div>
            <label>Сложность</label>
            <select [(ngModel)]="settings.difficulty" name="difficulty">
                <option value="easy">Easy</option>
                <option value="medium">Medium</option>
                <option value="hard">Hard</option>
            </select>
        </div>
        <div>
            <label>Тип вопросов</label>
            <select [(ngModel)]="settings.type" name="type">
                <option value="" [defaultSelected]="true">-</option>
                <option value="multiple">Multiple Choice</option>
                <option value="boolean">True / False</option>
            </select>
        </div>
        <div>
            <label>Категория</label>
            <input type="number" [(ngModel)]="settings.category" name="category" />
        </div>
        <button type="submit">Применить</button>
    </form> -->
    <!-- <div class="winners">
        <h4>Топ-5 победителей ({{ settings.difficulty }})</h4>
        <ul>
            <li *ngFor="let winner of winners">{{ winner.playerName }} - {{ winner.score }}</li>
        </ul>
    </div> -->
</div>
